.bash_history
builder-in-docker/openwrt-data/.sudo_as_admin_successful
builder-in-docker/openwrt-data/builder
builder-in-docker/openwrt-data/.local
builder-in-docker/openwrt-data/.config
.*.swp
builder-in-docker/openwrt-data/.wget-hsts
builder-in-docker/openwrt-data/.lesshst
.env
